@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode styles */
body {
  --bg-color: white;
  --text-color: #404040;
  --navbar-bg: white;
  --navbar-text: #404040;
  --input-bg: rgb(243, 245, 245);
  --input-text: black;
  --button-bg: white;
  --button-text: black;
  --border-color: #4f46e5;
}

body.dark {
  --bg-color: #121212;
  --text-color: #ffff;
  --navbar-bg: black;
  --navbar-text: #f0f0f0;
  --input-bg: #404040;
  --input-text: #f0f0f0;
  --button-bg: transparent;
  --button-text: white;
  --border-color: #6200ea;
}

/* Apply the colors */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  background-color: var(--navbar-bg);
  color: var(--navbar-text);
}

.search_input input {
  background-color: var(--input-bg);
  color: var(--input-text);
}

button {
  background-color: var(--button-bg);
  color: var(--button-text);
}

.nav_links Link {
  color: var(--navbar-text);
}

.nav_links Link:hover {
  color: var(--text-color);
}

.sign-in-button {
  border-color: var(--border-color);
}
.max-container {
  max-width: 1280px;
  margin: 0 auto;
}
